<link rel="stylesheet" href="/main.css">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>Log In or Register</p>
      <a href="/users/register" id="button" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" id="button" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
