
.mealPlan ul li p {
  list-style-type: none;
  display: inline;
}

.mealPlan{
  border: 1px solid yellow

}

h1, h2{
  display: contents;
}

#topBar, .topBar{
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  /* background-color: rgb(3, 186, 252) */
}


h3{
  margin-top: 1em;
}

.suggest ol li{
  list-style-type: none;
  text-decoration: none
}

#button{
  /* background-color: rgb(0, 92, 163); */
  /* color: white; */
  border: 1px solid white;
  border-radius: 5px
}
.delete{
  border: none;
}

.fa-angle-double-left, .fa-angle-double-right{
  font-size: 2.5em;

}


.goalsSection{
  border: 1px solid orange;
  /* display: inline;
  width: 20%; */

}

.newMeal{
  border: 1px solid lightgreen
}

.fa-times{
  color: #F5634B;
  size: 3.5em;
}
/* div {
  display: inline;
} */
