
.mealPlan ul li p {
  list-style-type: none;
  display: inline;
}



h1, h2{
  display: contents;
}

#topBar, .topBar{
  padding: 0;
  margin: 0;
  /* background-color: rgb(3, 186, 252) */
}


h3{
  margin-top: 1em;
}

.suggest ol li{
  list-style-type: none;
  text-decoration: none
}

#button{
  /* background-color: rgb(0, 92, 163); */
  /* color: white; */
  border: 1px solid white;
  border-radius: 5px
}
.delete{
  border: none;
}

.fa-angle-double-left, .fa-angle-double-right{
  font-size: 2.5em;

}



.fa-times{
  color: #F5634B;
  size: 3.5em;
}
/* div {
  display: inline;
} */

.course-widget{
  float: left;
  margin-right:4%
}

.btn-logout{
  margin-left: 700px;
}

.nav-item-dash{
  margin-left: 100px;
}
